@import "../../sass"

.Menu
    +work
    +posa
    // +r($futosa*8)
    // +b($futosa*8)
    +r($futosa*4)
    +b($futosa*4)
    +z(4)
    +df
    +jce
    +fdc
    // +bg(green)
    .menu-option
        // +m($futosa*0.5)
        +df
        +aic
        +jce
        .menu-option-title
            +fs($futosa)
            text-align: right
            letter-spacing: $futosa*0.2
            line-height: $futosa*2

            // +ml($futosa*0.5)

            +f(1)
            +trs(0.4s)
        &:hover
            +trs(0.4s)
            +c($cl)
    .menu-bullet
        +whs($futosa*2)
        +bdrrad(16px)
        +cenc
        // +dn
        // +whs(5px)
        // +bg($c)
    .menu-active
        .menu-option-title
            +trs(0.4s)
            +c($cl)
            +fs($futosa*2)
        .menu-bullet
            +bg($cl)
            +c($bg)
            